.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    background-color: #f8f9fa; 
    font-family: fantasy;
  }
  

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: fantasy;
  }

 
  .meu-card {
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 174, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  

  .meu-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 174, 255, 0.5);
  }
  
  .meu-card img {
    width: 100%;
    height: 200px;
    min-height: 200px; 
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .table {
    border-radius: 10px;
    position: relative;
  }
  
  .botao {
    position: absolute;
    left: 14.3%;
    transform: translateX(-50%);
    bottom: 80px; 
}

.botao2 {
    position: absolute;
    right: 19.5%;
    transform: translateX(50%);
    bottom: 80px;
}